body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: margin-left 0.4s;


}

@media all and (max-width: 830px) {
  #newsLink { display: none; }
}
@media all and (max-width: 830px) {
  #contactLink { display: none; }
}
@media all and (max-width: 830px) {
  #servicesLink { display: none; }
}

@media all and (min-width: 830px) {
  #navBarImg { display: none; }
}

.webContainer{
  display: block;
}

#rocketImg{
  display: block;
  padding-left: 50vw;
  margin-top: -50px;


}

@font-face {
  font-family: exo2;
  src: url(../Exo2-Thin.ttf);
}

@font-face {
  font-family: exo2-2;
  src: url(../Exo2-VariableFont_wght.ttf);
}

.navBar {
  background: #100e0d;
  z-index: 9999;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #b55f3c;
  text-align: left;
  display: inline-block;
  padding-left: 20px;
  padding-right: 40px;
  margin-top: -20px;

}

#navBarText {
  color: #f1f1f1;
  font-family: exo2;
  font-size: 22px;
  margin-right: 40px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
  padding-right: 50px;
}

li a{
  display: block;
  padding-bottom: 15px;
  text-decoration: none;
  color: whitesmoke;
  font-family: exo2;
}

#skillworxLink{
  

}

#navBarImg{
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
  text-align: left;
  float: left;
  cursor: pointer;
}

.navBarJS {
  position: relative;
  top: 25%;
  text-align: center;
}

.dropdown {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition:0.4s;
  padding-top: 60px;
}

.dropdown a {

  text-decoration: none;
  font-size: 36px;
  padding-left: 15px;
  text-align: left;
  color: #818181;
  display: block;
  transition: 0.4s;
  font-family: exo2;
  color: lightgrey;
}


.dropdown a:hover{
  color: #f1f1f1;
}

.dropdown .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {

  .dropdown {
    padding-top: 15px;
  }

  .dropdown a {
    font-size: 18px;
  }

  .dropdown .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

span{
  font-family: exo2-2;
}

.body1{
  height: 50vh;
  background-color: black;
  margin-top: calc(0vw + 20px);
  font-family: exo2;
  width: 1000vw;
  color: white;
  position: relative;
  right: 0;
  left: 0;
  vertical-align: top;
}

#computers{
  width: 80vw;
}

.body2{
  font-family: exo2-2;
  font-size: 18px;
  width: 90%;
  margin-left: 3vh;
  margin-right: 3vh;
  color: #232322;
}

.body3{
  font-family: exo2-2;
  font-size: 18px;
  width: 90%;
  margin-right: 3vh;
  margin-left: 3vh;
  color: #232322;
}

.body4{
  color: #b55f3c;
  width: calc(100% + 100vh);
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: exo2;
  background-color: #100e0d;
  position: fixed;
  bottom: 0;
}

h3{
  padding-left: 5vh;
  line-height: 10px;
}

h1{
  top: 50px;
  left: 20px;
  position: absolute;
  font-size: 5vmin;
  font-family: exo2;
}

#firstLine{
  color: #b55f3c;
  font-size: 4vh;
  width: 100%;
}

#secondLine{
  color: #b55f3c;
  font-size: 4vh;
  width:100%;
}

#disclaimer{
  padding-left: 55vw;
  margin-top: -25px;
}




